---
// Layouts
import Footer from "../../components/footer.astro";
import Header from "../../components/header.astro";
import Layout from "../../layouts/Layout.astro";
// 静的ページのパスをルーティング
export async function getStaticPaths () {
    const response = await getBlogs({ fields: ["id"] });
    return response.contents.map((blog: any) => ({
        params: {
            blogId: blog.id,
        }
    }))
}
// ブログ記事取得
import { getBlogDetail } from "../../libs/microcms";
import { getBlogs } from "../../libs/microcms";
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
// 日付フォーマット
import { formatDate } from "../../libs/microcms";
---
<!-- 記事ページ -->
<Layout>
    <Header />
    <main>
        <article>
            <p class="published">Published { formatDate(blog.publishedAt) }</p>
            <h1>{blog.title}</h1>
            <p class="subtitle">サブタイトル</p>
            <ul class="list">
                {blog.tags.map((tag: any) => (
                    <li class="item">{tag.name}</li>
                ))}
            </ul>
            <div class="thumbnail">thumbnail</div>
            <div class="content">
                <div class="content__inner">
                    <p set:html={blog.content}></p>
                </div>
                <ul class="list2">
                    <li class="item2"></li>
                    <li class="item2"></li>
                    <li class="item2"></li>
                    <li class="item2"></li>
                </ul>
            </div>
            <div class="buttonBack">
                <a href="/" class="button">← Back</a>
            </div>
        </article>
    </main>
    <Footer />
</Layout>
<style lang="scss">
main {
    padding: 64px 0;
}
article {
    max-width: 960px;
    padding: 0 20px;
    margin-inline: auto;
}
.published {
    text-align: center;
    color: #888;
}
h1 {
    text-align: center;
}
.subtitle {
    text-align: center;
}
.list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.item {
    padding: 5px 10px;
    background-color: #e7e7e9;
    border-radius: 2px;
}
.thumbnail {
    margin-top: 32px;
    aspect-ratio: 16 / 9;
    background-color: #888;
}
.content {
    display: flex;
    gap: 16px;
    max-width: 800px;
    margin-inline: auto;
    margin-top: 32px;
}
.list2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-top: 16px;
}
.item2 {
    width: 40px;
    height: 40px;
    border: 1px solid #e7e7e9;
    border-radius: 50%;
}
.buttonBack {
    display: flex;
    justify-content: center;
}
</style>